<MudItem xs="12" sm="6" md="6">
    <a href="@(IsDisabled ? "/" : Link)">
        <MudCard Class="border-double border-4 " Outlined Square Style="border-color: #b2b0a1; background: radial-gradient(circle, #5f574d, #38322f)">
            <MudCardContent Class="@(IsDisabled ? "py-6 px-10" : "py-10 px-10")" Style="height:150px;">
                @if (IsDisabled)
                {
                    <MudText Typo="Typo.subtitle2" Class="mud-text-secondary">@DisabledText</MudText>
                }
                <MudText Typo="Typo.h6" GutterBottom="true" Class="border-b-4">@Title</MudText>
                <MudText Typo="Typo.body2">@Description</MudText>
            </MudCardContent>
        </MudCard>
    </a>
</MudItem>

@code {
    [Parameter][EditorRequired] public required string Title { get; set; }

    [Parameter][EditorRequired] public required string Description { get; set; }

    [Parameter][EditorRequired] public required string Link { get; set; }

    [Parameter] public string? DisabledText { get; set; }

    private bool IsDisabled => !string.IsNullOrEmpty(DisabledText);
}
